/* Common func */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
}

.container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
}


/* Header */
#header img {
    margin-right: auto;
}

.navi {
    font-size: 21px;
    color: #222222;
    padding: 50px;
    gap: 50px;
}

/* Main Visual */
#main_visual {
    position: relative;
}

#main_visual img {
    width: 100%;
    height: 400px;
    z-index: 1;
    object-fit: cover;

}

/* top,leftにpic使わない */
#main_visual .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 28px;
    white-space: nowrap;
}

.main_message {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 40px;
}

/* About */
#about {
    margin: 0 auto;
}

#about .title {
    color: #ffd61a;
}

#about .sub {
    margin-bottom: 60px;
}

#about .text p {
    margin-bottom: 40px;
}

#about img {
    margin-top: 40px;
}

/* Course */
#course .text {
    margin-bottom: 60px;
}

#course .flex {
    justify-content: center;
    align-items: center;
}

#course img {
    vertical-align: middle;
    margin: 0;
    width: 50%;
}

#course .description {
    text-align: left;
    background-color: #fafafa;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 50%;
}

#course .sub {
    font-weight: bold;
    margin-bottom: 40px;
}

#course .message {
    width: 480px;
}

#course .left {
    padding-left: 50px;
}

#course .right {
    padding-right: 50px;
}

/* News */
#news .title {
    color: #ffd61a;
}

#news p {
    margin-bottom: 60px;
}

#news .flex {
    gap: 0px 30px;

}

#news .article {
    margin: 0 auto;
}

#news .date {
    margin-top: 30px;
    margin-bottom: 24px;
}

#news .news_img {
    width: 100%;
}

#news .news_text {
    width: 100%;
}

#news .more {
    text-align: center;
}

#news .more button {
    background-color: #ffd61a;
    width: 300px;
    height: 60px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 60px;
}

#news .more button:hover {
    background-color: #fff;
    color: #ffd61a;
}

/* Access */
#access {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fafafa;
}

#access .sub {
    margin-bottom: 60px;
}

#access .box {
    margin: 60px auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 30px;
}

#access .info_title {
    margin-right: 30px;
}

#access p {
    line-height: 50px;
}

/* Contact */
#contact {
    width: 100%;
    margin: 0 auto;
}

#contact .sub {
    margin-bottom: 60px;
}

#contact p {
    margin-bottom: 30px;
}

#contact .table {
    width: 328px;
    margin: 0 auto;
}

.send {
    text-align: center;
}

.send_btn {
    background-color: #ffd61a;
    width: 300px;
    height: 60px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 140px;
}

.send_btn:hover {
    background-color: #fff;
    color: #ffd61a;
}

/* footer */
footer {
    background: #707070;
    color: #fff;
}

footer p {
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}